body {
  font-family: "微軟正黑體", sans-serif;
  margin: 0;
  padding: 0;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input, form textarea, form select {
  margin-bottom: 10px;
}

#app .message {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.character-img {
  width: 50px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}